<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Javier's blog | {% block title %}{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}
        <style>
            .header { padding: 1em 2em 1em 2em; }
            .logo { text-decoration: none; font-weight: bolder; font-size: 2em; color: black;}
        </style>
    </head>
    <body>
        <header class="header">
            <a href="{{path('posts')}}" class="logo">Javier's Blog</a>
        </header>
        {% block body %}{% endblock %}

            
        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </body>
</html>
